<?xml version="1.0"?>

<!--
  Weitere Informationen zur Konfiguration der ASP.NET-Anwendung finden Sie unter
  "http://go.microsoft.com/fwlink/?LinkId=169433".
  -->

<configuration>
  <appSettings>
    <add key="dbhost" value="localhost" />
    <add key="dbuser" value="instantview" />
    <add key="dbpass" value="QzUHTzDydFxN4MyY" />
    <add key="dbname" value="instantview" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
