<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="filesdir" value="files"/>
    <add key="viewerurl" value="Watch.aspx?v={0}"/>
    <add key="steamerhost" value="btnstream.lyra.bz"/>

    <add key="dbhost" value="localhost"/>
    <add key="dbuser" value="instantview"/>
    <add key="dbpass" value="QzUHTzDydFxN4MyY"/>
    <add key="dbname" value="instantview"/>
  </appSettings>
  
  <system.web>
    <httpRuntime executionTimeout="1440" />
    <customErrors mode="Off"/>
    <compilation debug="true" />
  </system.web>
</configuration>